# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings (optional)
.vscode/

# PyCharm settings (optional)
.idea/

# Logs and debug
*.log
*.tmp

# Testing
.pytest_cache/
.tox/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# Environment variables
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db
